alembic==1.4.1
altair==4.1.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
attrs==21.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
bleach==4.1.0
blinker==1.4
blis==0.7.5
Boruta==0.3
cachetools==4.2.4
catalogue==1.0.0
certifi==2020.6.20
cffi==1.15.0
charset-normalizer==2.0.9
click==7.1.2
cloudpickle==2.0.0
colorama==0.4.4
colorlover==0.3.0
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.6
Cython==0.29.14
databricks-cli==0.16.2
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
docker==5.0.3
entrypoints==0.3
Flask==2.0.2
fonttools==4.28.2
funcy==1.17
future==0.18.2
gensim==3.8.3
gitdb==4.0.9
GitPython==3.1.24
greenlet==1.1.2
htmlmin==0.1.12
idna==3.3
ImageHash==4.2.1
imbalanced-learn==0.7.0
importlib-metadata==4.10.0
importlib-resources==5.4.0
ipykernel==6.5.1
ipython==7.30.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.0.1
jsonschema==4.2.1
jupyter-client==7.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.9.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
kmodes==0.11.1
lightgbm==3.3.1
llvmlite==0.37.0
lxml==4.6.4
Mako==1.1.6
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
missingno==0.5.0
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
mlflow==1.22.0
mlxtend==0.19.0
multimethod==1.6
murmurhash==1.0.6
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.6
notebook==6.4.6
numba==0.54.1
numexpr==2.8.1
numpy @ file:///C:/ci/numpy_and_numpy_base_1634106873763/work
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencv-python==4.5.5.64
packaging==21.3
pandas==1.3.4
pandas-profiling==3.1.0
pandocfilters==1.5.0
parso==0.8.2
patsy==0.5.2
phik==0.12.0
pickleshare==0.7.5
Pillow==8.4.0
plac==1.1.3
plotly==5.5.0
plotly-express==0.4.1
preshed==3.0.6
prometheus-client==0.12.0
prometheus-flask-exporter==0.18.6
prompt-toolkit==3.0.23
protobuf==3.19.1
pyarrow==6.0.1
pycaret==2.3.5
pycparser==2.21
pydantic==1.8.2
pydeck==0.7.1
Pygments==2.10.0
pyLDAvis==3.2.2
Pympler==0.9
pynndescent==0.5.5
pyod==0.9.5
pyparsing==3.0.6
pyrsistent==0.18.0
python-dateutil==2.8.2
python-docx==0.8.11
python-editor==1.0.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.2.0
pywin32==227
pywinpty==1.1.6
PyYAML==6.0
pyzmq==22.3.0
querystring-parser==1.2.4
regex==2021.11.10
requests==2.26.0
scikit-learn @ file:///C:/ci/scikit-learn_1598377018496/work
scikit-plot==0.3.7
scipy @ file:///C:/ci/scipy_1630606942584/work
seaborn==0.11.2
Send2Trash==1.8.0
setuptools-scm==6.3.2
six @ file:///tmp/build/80754af9/six_1623709665295/work
smart-open==5.2.1
smmap==5.0.0
spacy==2.3.7
SQLAlchemy==1.4.29
sqlparse==0.4.2
srsly==1.0.5
statsmodels==0.13.1
streamlit==1.2.0
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tenacity==8.0.1
terminado==0.12.1
testpath==0.5.0
textblob==0.17.1
thinc==7.4.5
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.2
toolz==0.11.2
torch==1.10.0
torchaudio==0.10.0
torchvision==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
tzdata==2021.5
tzlocal==4.1
umap-learn==0.5.2
urllib3==1.26.7
validators==0.18.2
visions==0.7.4
waitress==2.0.0
wasabi==0.9.0
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wincertstore==0.2
wordcloud==1.8.1
yellowbrick==1.3.post1
zipp==3.6.0
